* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #ffffff !important;
}

nav {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 10000;
  height: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 10px #e0e4ee;
          box-shadow: 0px 10px 10px #e0e4ee;
}
nav .navbar-brand {
  font-weight: bolder;
  font-size: 30px;
  color: #353755;
}
nav .navbar-brand .square {
  font-size: 8px !important;
  color: #5bd3c7;
}
nav .collapse {
  margin-left: 20px;
}
nav .collapse .nav-item {
  font-size: 17px;
  font-weight: bold;
  padding: 0 10px;
}
nav .collapse .nav-item .dropdown-menu {
  border-top: 5px solid #5bd3c7;
  margin-top: 18px;
}
nav .collapse .nav-item .dropdown-menu .dropdown-item {
  font-weight: 500;
}
nav .collapse .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #d3f0ee;
}
nav .collapse .nav-item .dropdown-menu .dropdown-item:focus {
  background-color: #d3f0ee;
}
nav .collapse .forms .icons {
  margin-right: 20px;
  font-size: 15px;
  border: 1px solid #e0e4ee;
  border-radius: 100%;
  padding: 10px;
}
nav .collapse .forms .icons a {
  color: #353755;
}
nav .collapse .forms .form-control {
  border-radius: 20px;
}
nav .collapse .forms .btn {
  color: #353755;
  border: 1px solid #353755;
  border-radius: 30px;
  font-weight: 500;
}
nav .collapse .forms .btn:hover {
  background-color: #5bd3c7;
  border: 1px solid #5bd3c7;
}

.header {
  background-color: #d3f0ee;
  padding-top: 30px;
  margin-bottom: 20px;
  height: auto;
}
.header .row {
  text-align: center;
}
.header .row .one img {
  width: 100%;
}
.header .row .tow {
  position: relative;
}
.header .row .tow .contant {
  position: absolute;
  top: 20%;
  left: 10%;
}
.header .row .tow .contant .text-1 {
  font-family: "Yellowtail", cursive;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: blue;
}
.header .row .tow .contant .text-2 {
  font-family: "Playfair Display", serif;
  font-size: 100px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.header .row .tow .contant .text-3 {
  font-family: "Playfair Display", serif;
  font-size: 100px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.header .row .tow .contant .text-4 {
  font-family: "Yellowtail", cursive;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.header .row .tow .contant button {
  font-family: "Playfair Display", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-radius: 20px;
  width: auto;
  font-size: 20px;
}

.three-img {
  margin-bottom: 100px;
}
.three-img .contant .title {
  margin-top: 80px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.three-img .contant .title h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.three-img .contant .img-3 .one {
  height: auto;
  position: relative;
  padding: 30px;
}
.three-img .contant .img-3 .one img {
  width: 100%;
}
.three-img .contant .img-3 .one .wardes {
  position: absolute;
  top: 20%;
  right: 20%;
}
.three-img .contant .img-3 .one .wardes h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.three-img .contant .img-3 .one .wardes button {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  border-radius: 50px;
}
.three-img .contant .img-3 .one .wardes p {
  font-family: "Yellowtail", cursive;
  color: blue;
  font-size: 30px;
  font-weight: bold;
}

.gallerys .contant .titel {
  margin-bottom: 50px;
}
.gallerys .contant .titel h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
}
.gallerys .contant .gallery .card {
  border: none;
}
.gallerys .contant .gallery .card img {
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}
.gallerys .contant .gallery .card img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.gallerys .contant .gallery .card .card-body h6 {
  font-family: "Playfair Display", serif;
}
.gallerys .contant .gallery .card .card-body .card-text {
  font-weight: 600;
}
.gallerys .contant .gallery .card .card-body .card-text .star-color {
  color: gold;
}
.gallerys .contant .gallery .card .card-body .card-text span {
  color: red;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  margin: 0 5px;
}
.gallerys .contant .gallery .card .card-body .btn {
  border-radius: 50px;
  font-family: "Yellowtail", cursive;
  background-color: #5bd3c7;
  border-color: #d3f0ee;
}

.med {
  width: 100%;
  background-color: #ffffff;
  margin-top: 130px;
  padding-top: 30px;
}
.med .contant {
  background-color: #5bd3c7;
  width: 90%;
  height: 600px;
  position: relative;
  left: 5%;
}
.med .contant .one img {
  position: relative;
  left: 20%;
  bottom: 14%;
}
.med .contant .tow {
  position: relative;
}
.med .contant .tow .titels {
  position: relative;
  top: 20%;
  margin-left: 20px;
}
.med .contant .tow .titels h1 {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
}
.med .contant .tow .titels p {
  margin: 20px 10px;
  font-size: 22px;
}
.med .contant .tow .flou-img {
  position: absolute;
  right: 22%;
  bottom: 10%;
}

.three-col {
  margin-top: 140px;
}
.three-col .contant {
  width: 90%;
  position: relative;
  left: 5%;
  padding: 20px;
}
.three-col .contant .one .contant {
  position: relative;
  top: 20%;
}
.three-col .contant .one .contant h1 {
  padding: 5px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.three-col .contant .one .contant h6 {
  margin: 5px 0;
  font-family: "Playfair Display", serif;
}
.three-col .contant .one .contant button {
  position: relative;
  top: 20px;
  background-color: #5bd3c7;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}
.three-col .contant .one .contant button:hover {
  background-color: #d3f0ee;
  margin: 1px 0 0 1px;
}
.three-col .contant .one .img {
  position: absolute;
  bottom: 34px;
}
.three-col .contant .three {
  position: relative;
}
.three-col .contant .three .contant {
  position: absolute;
  bottom: 0;
}
.three-col .contant .three .contant .img-and-text {
  margin-top: 50px;
}
.three-col .contant .three .contant .img-and-text p {
  font-weight: 500;
  font-family: "Playfair Display", serif;
}

.search {
  margin: 100px 0;
}
.search .contant {
  width: 80%;
  height: 350px;
  background-color: #d3f0ee;
  position: relative;
  left: 10%;
  border-radius: 100px;
}
.search .contant .titels {
  width: 95%;
  padding: 5px;
  position: relative;
  top: 30%;
  left: 10%;
}
.search .contant .titels h1 {
  font-family: "Playfair Display", serif;
}
.search .contant .titels p {
  font-family: "Playfair Display", serif;
}
.search .contant .search-form {
  position: relative;
  top: 60%;
  left: 10%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}
.search .contant .search-form input {
  height: 50px;
  border-radius: 50px;
  font-weight: 700;
}
.search .contant .search-form button {
  height: 50px;
  background-color: #5bd3c7;
  border-radius: 50px;
  border: none;
  position: absolute;
  right: 7px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #353755;
}

.systems .contant {
  position: relative;
  left: 10%;
  width: 80%;
}
.systems .contant .cols {
  background-color: transparent;
  width: 33%;
  height: 300px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.systems .contant .cols .text {
  width: 99%;
}
.systems .contant .cols .text .icons {
  font-size: 250% !important;
  margin: 10px 0;
}
.systems .contant .cols .text h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
}

.images-2 {
  height: auto;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.images-2 .contant .imgs img {
  width: 100%;
  margin: 10px 0;
}

.footer {
  margin: 50px 0;
}
.footer .contant {
  padding: 20px;
}
.footer .contant .lists h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.footer .contant .lists h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold !important;
}
.footer .contant .lists a {
  list-style: none !important;
  text-decoration: none;
}
.footer .contant .lists a li {
  color: #353755;
  margin-bottom: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer .contant .lists a li:hover {
  color: #5bd3c7;
  padding-left: 10px;
  font-weight: bold;
}
.footer .contant .lists a li:focus {
  color: #5bd3c7;
  padding-left: 10px;
  font-weight: bold;
}
.footer .copyright {
  margin-top: 50px;
  text-align: center;
}
.footer .copyright p {
  font-family: "Playfair Display", serif;
}
.footer .copyright p span {
  font-weight: bolder;
}

.header-pages {
  margin-top: 78px;
  height: 300px;
  background-image: url(../images/13-png.webp);
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}
.header-pages .contant .titel {
  position: absolute;
  left: 10%;
  top: 30%;
}
.header-pages .contant .titel h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.main-page-list .contant .search-contant {
  margin: 50px 0;
  position: relative;
}
.main-page-list .contant .search-contant form {
  margin: 10px 0;
}
.main-page-list .contant .search-contant form input {
  border-radius: 50px;
  background-color: #e0e4ee;
  border: none;
}
.main-page-list .contant .search-contant form button {
  border-radius: 50px;
  position: absolute;
  right: 2%;
  width: 30%;
  border: none;
  background-color: #353755;
  color: #ffffff;
}
.main-page-list .contant .acc {
  margin-top: 20px;
  border: none;
}
.main-page-list .contant .acc button {
  border-radius: 50px;
  background-color: #e0e4ee;
  color: black;
  border-radius: 50px;
}
.main-page-list .contant .acc .accordion-item {
  margin-bottom: 10px;
}
.main-page-list .contant .acc .accordion-item .accordion-body a {
  list-style: none;
  text-decoration: none;
}
.main-page-list .contant .acc .accordion-item .accordion-body a li {
  padding: 15px;
  color: #353755;
}

.main-page-Details .contant .carousel {
  width: 70%;
  position: relative;
  left: 15%;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  width: auto;
  height: auto;
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #5bd3c7;
  /* Set a background color */
  color: black;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 50px;
  /* Rounded corners */
  font-size: 20px;
  /* Increase font size */
  font-weight: bolder;
}

#myBtn:hover {
  background-color: #d3f0ee;
  /* Add a dark-grey background on hover */
}

@media (max-width: 575.98px) {
  .med .contant .tow .titels h1 {
    font-size: 25px;
  }
  .med .contant .tow .titels p {
    font-size: 18px;
  }
  .med .contant .tow .flou-img img {
    width: 80%;
  }

  .systems .contant .cols {
    height: 200px;
  }
  .systems .contant .cols .text .icons {
    font-size: 130% !important;
  }
  .systems .contant .cols .text h3 {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .systems .contant .cols .text h5 {
    font-size: 10px !important;
  }

  .footer .contant .lists p {
    font-size: 11px;
  }
  .footer .contant .lists a li {
    font-size: 10px;
  }
}
@media (max-width: 767.98px) {
  .header {
    height: 400px;
  }
  .header .row .one img {
    display: none;
  }

  .med .contant .tow .titels {
    right: 0 !important;
  }

  .systems .contant .cols {
    height: 210px;
  }
  .systems .contant .cols .text .icons {
    font-size: 150% !important;
  }
  .systems .contant .cols .text h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .systems .contant .cols .text h5 {
    font-size: 15px;
  }
}
@media (max-width: 991.98px) {
  .med .contant {
    height: 300px;
  }
  .med .contant .one img {
    display: none;
  }
  .med .contant .tow .titels {
    right: 44%;
  }
  .med .contant .tow .flou-img {
    bottom: -66%;
  }

  .three-col {
    margin-top: 50px;
  }
  .three-col .contant {
    top: 0 !important;
  }
  .three-col .contant .one .img {
    position: static;
    margin-top: 50px;
  }
  .three-col .contant .one .img img {
    width: 80%;
  }
  .three-col .contant .tow img {
    display: none;
  }
  .three-col .contant .three {
    position: relative;
  }
  .three-col .contant .three .contant {
    position: static;
    bottom: 0;
  }
  .three-col .contant .three .contant .img-and-text {
    margin-top: 10px;
  }
  .three-col .contant .three .contant .img-and-text p {
    font-size: 20px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
  }
}
@media (max-width: 1199.98px) {
  .header .row .tow .contant .text-1 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  .header .row .tow .contant .text-2 {
    font-size: 50px;
    font-weight: 700;
  }
  .header .row .tow .contant .text-3 {
    font-size: 50px;
    font-weight: 700;
  }
  .header .row .tow .contant .text-4 {
    font-size: 20px;
  }
}